@import '~src/scss/abstracts';

.todo {
  font-size: $size-16;
  border-radius: $size-xs;

  .todo-text {
    width: 90%;

    p {
      &.done {
        text-decoration: line-through;
        color: $color-gray-400;
      }
    }

    input {
      outline: none;
      border: 1px solid $color-gray-100;
      width: 100%;
      border-radius: $size-xs;

      &:focus {
        border-color: $color-primary;
        box-shadow: 0 0 0 0.125em $color-primary-lightest;
      }
    }
  }

  .todo-side {
    width: 5%;
  }
}

button.close {
  color: $color-red-500;
}
